{{#each this}}
  <li class='movie-info'>
<a href="#" id="{{id}}">

    <img
      class='movie-poster'
      src='https://image.tmdb.org/t/p/w500/{{poster_path}}'
      alt='{{title}}'
      width='395'
      height='574'
    />

    <h3 class='movie-title'> {{original_title}}</h3>
    <p class='genres'>{{genre_ids}}</p>
    <p class='year'>{{release_date}}</p>
</a>
    

  </li>
{{/each}}